<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="thirdJob" class="com.third.ThridJobForQuartz" />

    <bean id="task" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="thirdJob" />
        <property name="targetMethod" value="ThridJobA"/>
        <property name="concurrent" value="false" />
    </bean>

    <bean id="task1" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="thirdJob" />
        <property name="targetMethod" value="ThridJobB"/>
        <property name="concurrent" value="false" />
    </bean>

    <!-- 定时执行 -->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="task" />
        <property name="cronExpression">
            <value>0 */10 * ? * *</value>
        </property>
    </bean>

    <!-- 只在项目启动的时候启动一次设置repeatInterval为0，循环可设置相应时间 -->
    <bean id="cronTrigger1" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="task1" />
        <property name="startDelay" value="500" />
        <property name="repeatInterval" value="0" />
        <property name="repeatCount" value="0"/>
    </bean>

    <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTrigger" />
                <ref bean="cronTrigger1" />
            </list>
        </property>
    </bean>
</beans>