<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mybatis.mapper.MsCf02Mapper" >
  <resultMap id="BaseResultMap" type="com.mybatis.entity.MsCf02" >
    <id column="sbxh" property="sbxh" jdbcType="NUMERIC" />
    <id column="jgid" property="jgid" jdbcType="NUMERIC" />
    <result column="cfsb" property="cfsb" jdbcType="NUMERIC" />
    <result column="ypxh" property="ypxh" jdbcType="NUMERIC" />
    <result column="ypcd" property="ypcd" jdbcType="NUMERIC" />
    <result column="xmlx" property="xmlx" jdbcType="NUMERIC" />
    <result column="cfts" property="cfts" jdbcType="NUMERIC" />
    <result column="ypsl" property="ypsl" jdbcType="NUMERIC" />
    <result column="ypdj" property="ypdj" jdbcType="NUMERIC" />
    <result column="hjje" property="hjje" jdbcType="NUMERIC" />
    <result column="ypzs" property="ypzs" jdbcType="INTEGER" />
    <result column="ycsl" property="ycsl" jdbcType="VARCHAR" />
    <result column="fygb" property="fygb" jdbcType="NUMERIC" />
    <result column="zfbl" property="zfbl" jdbcType="NUMERIC" />
    <result column="gytj" property="gytj" jdbcType="NUMERIC" />
    <result column="ypyf" property="ypyf" jdbcType="VARCHAR" />
    <result column="ypzh" property="ypzh" jdbcType="NUMERIC" />
    <result column="yfgg" property="yfgg" jdbcType="VARCHAR" />
    <result column="yfdw" property="yfdw" jdbcType="VARCHAR" />
    <result column="yfbz" property="yfbz" jdbcType="NUMERIC" />
    <result column="sjyl" property="sjyl" jdbcType="VARCHAR" />
    <result column="pspb" property="pspb" jdbcType="NUMERIC" />
    <result column="yyts" property="yyts" jdbcType="INTEGER" />
    <result column="ycsl2" property="ycsl2" jdbcType="NUMERIC" />
    <result column="xssl" property="xssl" jdbcType="NUMERIC" />
    <result column="mrcs" property="mrcs" jdbcType="NUMERIC" />
    <result column="cfbz" property="cfbz" jdbcType="VARCHAR" />
    <result column="ycjl" property="ycjl" jdbcType="NUMERIC" />
    <result column="psjg" property="psjg" jdbcType="NUMERIC" />
    <result column="plxh" property="plxh" jdbcType="NUMERIC" />
    <result column="sybz" property="sybz" jdbcType="NUMERIC" />
    <result column="bspb" property="bspb" jdbcType="NUMERIC" />
    <result column="bssl" property="bssl" jdbcType="NUMERIC" />
    <result column="bssj" property="bssj" jdbcType="TIMESTAMP" />
    <result column="typh" property="typh" jdbcType="VARCHAR" />
    <result column="sfjg" property="sfjg" jdbcType="NUMERIC" />
    <result column="sfgh" property="sfgh" jdbcType="VARCHAR" />
    <result column="sfyj" property="sfyj" jdbcType="VARCHAR" />
    <result column="sqys" property="sqys" jdbcType="VARCHAR" />
    <result column="yqsy" property="yqsy" jdbcType="NUMERIC" />
    <result column="syly" property="syly" jdbcType="VARCHAR" />
    <result column="ztmc" property="ztmc" jdbcType="VARCHAR" />
    <result column="nwarn" property="nwarn" jdbcType="NUMERIC" />
    <result column="cfcfh" property="cfcfh" jdbcType="VARCHAR" />
    <result column="xzsy" property="xzsy" jdbcType="NUMERIC" />
    <result column="zfsy" property="zfsy" jdbcType="NUMERIC" />
    <result column="state" property="state" jdbcType="NUMERIC" />
    <result column="zfbz" property="zfbz" jdbcType="NUMERIC" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from ms_cf02
    where sbxh = #{sbxh,jdbcType=NUMERIC}
      and jgid = #{jgid,jdbcType=NUMERIC}
  </delete>
  <insert id="insert" parameterType="com.mybatis.entity.MsCf02" >
    insert into ms_cf02 (sbxh, jgid, cfsb, 
      ypxh, ypcd, xmlx, cfts, 
      ypsl, ypdj, hjje, ypzs, 
      ycsl, fygb, zfbl, gytj, 
      ypyf, ypzh, yfgg, yfdw, 
      yfbz, sjyl, pspb, yyts, 
      ycsl2, xssl, mrcs, 
      cfbz, ycjl, psjg, plxh, 
      sybz, bspb, bssl, bssj, 
      typh, sfjg, sfgh, sfyj, 
      sqys, yqsy, syly, ztmc, 
      nwarn, cfcfh, xzsy, 
      zfsy, state, zfbz)
    values (#{sbxh,jdbcType=NUMERIC}, #{jgid,jdbcType=NUMERIC}, #{cfsb,jdbcType=NUMERIC}, 
      #{ypxh,jdbcType=NUMERIC}, #{ypcd,jdbcType=NUMERIC}, #{xmlx,jdbcType=NUMERIC}, #{cfts,jdbcType=NUMERIC}, 
      #{ypsl,jdbcType=NUMERIC}, #{ypdj,jdbcType=NUMERIC}, #{hjje,jdbcType=NUMERIC}, #{ypzs,jdbcType=INTEGER}, 
      #{ycsl,jdbcType=VARCHAR}, #{fygb,jdbcType=NUMERIC}, #{zfbl,jdbcType=NUMERIC}, #{gytj,jdbcType=NUMERIC}, 
      #{ypyf,jdbcType=VARCHAR}, #{ypzh,jdbcType=NUMERIC}, #{yfgg,jdbcType=VARCHAR}, #{yfdw,jdbcType=VARCHAR}, 
      #{yfbz,jdbcType=NUMERIC}, #{sjyl,jdbcType=VARCHAR}, #{pspb,jdbcType=NUMERIC}, #{yyts,jdbcType=INTEGER}, 
      #{ycsl2,jdbcType=NUMERIC}, #{xssl,jdbcType=NUMERIC}, #{mrcs,jdbcType=NUMERIC}, 
      #{cfbz,jdbcType=VARCHAR}, #{ycjl,jdbcType=NUMERIC}, #{psjg,jdbcType=NUMERIC}, #{plxh,jdbcType=NUMERIC}, 
      #{sybz,jdbcType=NUMERIC}, #{bspb,jdbcType=NUMERIC}, #{bssl,jdbcType=NUMERIC}, #{bssj,jdbcType=TIMESTAMP}, 
      #{typh,jdbcType=VARCHAR}, #{sfjg,jdbcType=NUMERIC}, #{sfgh,jdbcType=VARCHAR}, #{sfyj,jdbcType=VARCHAR}, 
      #{sqys,jdbcType=VARCHAR}, #{yqsy,jdbcType=NUMERIC}, #{syly,jdbcType=VARCHAR}, #{ztmc,jdbcType=VARCHAR}, 
      #{nwarn,jdbcType=NUMERIC}, #{cfcfh,jdbcType=VARCHAR}, #{xzsy,jdbcType=NUMERIC}, 
      #{zfsy,jdbcType=NUMERIC}, #{state,jdbcType=NUMERIC}, #{zfbz,jdbcType=NUMERIC})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mybatis.entity.MsCf02" >
    update ms_cf02
    set cfsb = #{cfsb,jdbcType=NUMERIC},
      ypxh = #{ypxh,jdbcType=NUMERIC},
      ypcd = #{ypcd,jdbcType=NUMERIC},
      xmlx = #{xmlx,jdbcType=NUMERIC},
      cfts = #{cfts,jdbcType=NUMERIC},
      ypsl = #{ypsl,jdbcType=NUMERIC},
      ypdj = #{ypdj,jdbcType=NUMERIC},
      hjje = #{hjje,jdbcType=NUMERIC},
      ypzs = #{ypzs,jdbcType=INTEGER},
      ycsl = #{ycsl,jdbcType=VARCHAR},
      fygb = #{fygb,jdbcType=NUMERIC},
      zfbl = #{zfbl,jdbcType=NUMERIC},
      gytj = #{gytj,jdbcType=NUMERIC},
      ypyf = #{ypyf,jdbcType=VARCHAR},
      ypzh = #{ypzh,jdbcType=NUMERIC},
      yfgg = #{yfgg,jdbcType=VARCHAR},
      yfdw = #{yfdw,jdbcType=VARCHAR},
      yfbz = #{yfbz,jdbcType=NUMERIC},
      sjyl = #{sjyl,jdbcType=VARCHAR},
      pspb = #{pspb,jdbcType=NUMERIC},
      yyts = #{yyts,jdbcType=INTEGER},
      ycsl2 = #{ycsl2,jdbcType=NUMERIC},
      xssl = #{xssl,jdbcType=NUMERIC},
      mrcs = #{mrcs,jdbcType=NUMERIC},
      cfbz = #{cfbz,jdbcType=VARCHAR},
      ycjl = #{ycjl,jdbcType=NUMERIC},
      psjg = #{psjg,jdbcType=NUMERIC},
      plxh = #{plxh,jdbcType=NUMERIC},
      sybz = #{sybz,jdbcType=NUMERIC},
      bspb = #{bspb,jdbcType=NUMERIC},
      bssl = #{bssl,jdbcType=NUMERIC},
      bssj = #{bssj,jdbcType=TIMESTAMP},
      typh = #{typh,jdbcType=VARCHAR},
      sfjg = #{sfjg,jdbcType=NUMERIC},
      sfgh = #{sfgh,jdbcType=VARCHAR},
      sfyj = #{sfyj,jdbcType=VARCHAR},
      sqys = #{sqys,jdbcType=VARCHAR},
      yqsy = #{yqsy,jdbcType=NUMERIC},
      syly = #{syly,jdbcType=VARCHAR},
      ztmc = #{ztmc,jdbcType=VARCHAR},
      nwarn = #{nwarn,jdbcType=NUMERIC},
      cfcfh = #{cfcfh,jdbcType=VARCHAR},
      xzsy = #{xzsy,jdbcType=NUMERIC},
      zfsy = #{zfsy,jdbcType=NUMERIC},
      state = #{state,jdbcType=NUMERIC},
      zfbz = #{zfbz,jdbcType=NUMERIC}
    where sbxh = #{sbxh,jdbcType=NUMERIC}
      and jgid = #{jgid,jdbcType=NUMERIC}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select 'true' as QUERYID,sbxh, jgid, cfsb, ypxh, ypcd, xmlx, cfts, ypsl, ypdj, hjje, 
    ypzs, ycsl, fygb, zfbl, gytj, ypyf, ypzh, yfgg, yfdw, yfbz, sjyl, pspb, yyts, ycsl2, 
    xssl, mrcs, cfbz, ycjl, psjg, plxh, sybz, bspb, bssl, bssj, typh, sfjg, sfgh, sfyj, 
    sqys, yqsy, syly, ztmc, nwarn, cfcfh, xzsy, zfsy, state, zfbz
    from ms_cf02
    where sbxh = #{sbxh,jdbcType=NUMERIC}
      and jgid = #{jgid,jdbcType=NUMERIC}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sbxh, jgid, cfsb, ypxh, ypcd, xmlx, cfts, ypsl, ypdj, hjje, ypzs, ycsl, fygb, 
    zfbl, gytj, ypyf, ypzh, yfgg, yfdw, yfbz, sjyl, pspb, yyts, ycsl2, xssl, mrcs, cfbz, 
    ycjl, psjg, plxh, sybz, bspb, bssl, bssj, typh, sfjg, sfgh, sfyj, sqys, yqsy, syly, 
    ztmc, nwarn, cfcfh, xzsy, zfsy, state, zfbz
    from ms_cf02
  </select>
</mapper>